* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #530155;
    --secundaria: #C04EC4;
    --escuro: #420144;
    --claro: #fdceff;
    --vidro: rgba(255, 255, 255, 0.2);
}

body {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Seção de prints */
.prints-section {
    padding: 6rem 2rem;
}

.cabecalho-titulo {
    font-size: 3rem;
    color: white;
}

.cabecalho-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.prints {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

/* Caixa dos prints */
.prints-caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
}

/* Imagens dos prints */
.print-image {
    border-radius: 15px;
    width: 250px;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 0 8px gray;
    object-fit: cover;
}

.print-image:hover {
    transform: scale(1.05);
}

/* Botão de jogar */
.botao-jogar {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* botão vai ficar logo abaixo */
}

#playbutton {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(90deg, black, gray);
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 7px black;
    font-weight: bold;
}

#playbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px rgb(99, 97, 0);
    background: linear-gradient(90deg, rgb(245, 141, 6), rgb(247, 255, 4));
    color: rgb(6, 37, 29);
}

#playbutton2 {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(90deg, gray, rgb(168, 168, 168));
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 7px black;
    font-weight: bold;
}

#playbutton2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px rgb(237, 0, 0);
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(249, 0, 0));
    color: rgb(6, 37, 29);
}

