* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #000000eb;
    --secundaria: #120f12;
    --escuro: #000000;
    --claro: #ffffff;
    --vidro: rgba(255, 255, 255, 0.2);
}

body {
    background-color: var(--primaria);
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

/* Seção de prints */
.prints-section {
    padding: 6rem 2rem;
}

.cabecalho-titulo {
    font-size: 3rem;
    color: var(--claro);
}

.cabecalho-paragrafo {
    text-align: center;
    font-size: 1.2rem;
}

.prints {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}

/* Caixa dos prints */
.prints-caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    padding: 2rem;
    max-width: 800px;
    margin: 2rem auto;
}

/* Imagens dos prints */
.print-image {
    border-radius: 15px;
    width: 250px;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px var(--escuro);
    object-fit: cover;
}

.print-image:hover {
    transform: scale(1.05);
}

/* Botão de jogar */
.botao-jogar {
    display: flex;
    justify-content: center;
    margin-top: 2rem; /* botão vai ficar logo abaixo */
}

#playbutton {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(90deg, var(--escuro), var(--escuro));
    color: var(--claro);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 7px var(--escuro);
    font-weight: bold;
}

#playbutton:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 179, 21));
    color: rgb(255, 255, 255);
}

#playbutton2 {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background: linear-gradient(90deg, var(--escuro), var(--escuro));
    color: var(--claro);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 7px var(--escuro);
    font-weight: bold;
}

#playbutton2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 7px rgb(237, 0, 0);
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(249, 0, 0));
    color: rgb(6, 37, 29);
}

